.hero{
    height: 500px;
    background: url("../assets/hero.png") no-repeat center/cover;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
    button{
        background-color: #DD783F;
        color: white;
        // width: 30%;
        padding: 12px;
        font-size: 15px;
    }
}

@media (min-width: 1000%) {
  .hero h1 {
    font-size: 48px;
  }

  .hero p {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }

  .hero button {
    padding: 10px 20px;
    font-size: 16px;
}
}

@media (max-width: 500px) {
    .hero {
        padding: 0 15px;
        height: 400px;
    }
    
    .hero h1 {
        font-size: 28px;
    }
    
    .hero p {
        font-size: 16px;
    }
    
    .hero button {
      padding: 10px 20px;
      font-size: 16px;
  }
}